.aside {
    grid-area: aside;
    padding: 15px;
}

.aside__section {
    border-bottom: #000 5px solid;
    padding-bottom: 35px;
}

.aside__form--input {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
}

.aside__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.aside__list--item {
   margin-bottom: 15px; 
   padding-bottom: 15px;
   border-bottom: 1px dashed #d5d5d5;;
}

.aside__list--item-last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.aside__list--item a {
   text-decoration: none;
    color: #000;
}

.aside__list--social img {
    max-width: 35px;
}

.social-list {
 display: flex;
 justify-content: space-around;
}